<mat-card class="card">
  <mat-card-header>
    <img
      mat-card-avatar
      style="border-radius: 0"
      [src]="weatherData?.condition?.icon"
    />
    <mat-card-title>
      <span>
        {{ locationData?.country }},
        {{ locationData?.name }}
      </span>
      <span>{{ weatherData?.last_updated!.split(" ")[1] }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      {{ weatherData?.condition?.text }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card__content">
    <div class="card__temp row-baseline">
      <h1>{{ weatherData?.temp_c }} °C</h1>
      <p>Ощущается как {{ weatherData?.feelslike_c }} °C</p>
    </div>

    <div class="card__wind row-center">
      <mat-icon>air</mat-icon>
      <p>{{ weatherData?.wind_kph }} км/ч</p>
      <p>{{ weatherData?.wind_dir }}</p>
      <mat-icon
        inline="true"
        [ngStyle]="{
          transform: 'rotate(' + weatherData?.wind_degree + 'deg)'
        }"
      >
        north
      </mat-icon>
    </div>
  </mat-card-content>
</mat-card>
