.weather__input input {
  text-align: center;
}

.weather {
  margin: auto;
  padding: 15px 0;
}

.weather__form {
  font-size: 24px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__input {
  flex: 1 1 auto;
  max-width: 600px;
}

.weather__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.weather__hours {
  width: 100vw;
  display: flex;
  overflow: auto;
}
.weather__hours > * {
  margin: 8px;
}
.weather__hours mat-card:first-child {
  margin-left: 16px;
}
.weather__hours mat-card:last-child {
  margin-right: 16px;
}

.weather__current {
  width: fit-content;
  margin: auto;
}

.weather__day {
  width: fit-content;
  margin: 16px;
}

.weather__error {
  width: fit-content;
  margin: auto;
}
