.row-center {
  display: flex;
  align-items: center;
}

.row-center * {
  margin: 0;
  padding: 0;
  margin-right: 4px;
}

.row-baseline {
  display: flex;
  align-items: baseline;
}
.row-baseline * {
  margin-right: 4px;
}
