<div class="weather">
  <form (ngSubmit)="search()" class="weather__form">
    <mat-form-field class="weather__input">
      <mat-label>Город</mat-label>
      <input
        matInput
        placeholder="Где Вы находитесь?"
        [(ngModel)]="query"
        name="query"
        [matAutocomplete]="auto"
        (ngModelChange)="updateAutocomplete()"
      />
      <mat-autocomplete #auto (optionSelected)="search()">
        <mat-option *ngFor="let item of autocomplete" [value]="item.name">
          {{ item.country + ", " + item.region + ", " + item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button type="submit">
      <mat-icon> search </mat-icon>
    </button>
  </form>

  <div class="weather__result" *ngIf="loadedWeather && !isLoading">
    <div class="weather__current">
      <app-weather-card-current
        [weatherData]="loadedWeather?.current"
        [locationData]="loadedWeather?.location"
      ></app-weather-card-current>
    </div>

    <div class="weather__forecast">
      <div *ngFor="let day of loadedWeather?.forecast?.forecastday">
        <app-weather-card
          [weatherData]="day"
          [locationData]="loadedWeather?.location"
        ></app-weather-card>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="weather__spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
