.weather__input input {
  text-align: center;
}

.weather {
  margin: auto;
  padding: 15px;
}

.weather__form {
  font-size: 24px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__input {
  flex: 1 1 auto;
  max-width: 600px;
}

.weather__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.weather__hours {
  max-width: 100vw;
  display: flex;
  overflow: auto;

  margin-bottom: 8px;
}

.weather__hour {
  margin: 8px;
}

.weather__current {
  width: fit-content;
  margin: auto;
  margin-bottom: 32px;
}

.weather__day {
  width: fit-content;
}

.weather__error {
  width: fit-content;
  margin: auto;
}
