<div class="weather" *ngIf="!isLoading">
  <form (ngSubmit)="search()" class="weather__form">
    <mat-form-field class="weather__input">
      <mat-label>Город</mat-label>
      <input
        matInput
        placeholder="Где Вы находитесь?"
        [(ngModel)]="query"
        name="query"
      />
    </mat-form-field>
    <button mat-icon-button type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="weather__result" *ngIf="loadedWeather">
    <div class="weather__current">
      <app-weather-card-current
        [weatherData]="loadedWeather?.current"
        [locationData]="loadedWeather?.location"
      ></app-weather-card-current>
    </div>

    <div class="weather__forecast">
      <div *ngFor="let day of loadedWeather?.forecast?.forecastday">
        <app-weather-card
          *ngIf="day.date != 'Сегодня'"
          [weatherData]="day"
          [locationData]="loadedWeather?.location"
        ></app-weather-card>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  "
>
  <mat-spinner></mat-spinner>
</div>
