<mat-card class="weather-card">
  <mat-card-header>
    <img
      mat-card-avatar
      style="border-radius: 0"
      [src]="weatherData?.day?.condition?.icon"
    />
    <mat-card-title>
      <span>
        {{ locationData?.country }},
        {{ locationData?.name }}
      </span>
      <span style="flex: 1 1 auto; width: auto"></span>
      <span>{{ weatherData?.date }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      {{ weatherData?.day?.condition?.text }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="weather-card__content">
    <div class="weather-card__temp">
      <span>
        {{
          (weatherData?.day?.mintemp_c! > 0 ? "+" : "") +
            weatherData?.day?.mintemp_c
        }}
        °C
      </span>
      <span> ... </span>
      <span>
        {{
          (weatherData?.day?.mintemp_c! > 0 ? "+" : "") +
            weatherData?.day?.maxtemp_c
        }}
        °C
      </span>
    </div>
  </mat-card-content>
</mat-card>
